<section>
    <div id="section">
        <div id="title">
            <h1>Application Programming Interface</h1>
        </div>
    </div>
</section>

<main>
    <div id="main" class="page">
        <h1>Introducing the PastaBin API</h1>
        <p>PastaBin API isn't yet ready.</p>
    </div>
</main>
