<section>
    <div id="section">
        <div id="title">
            <h1><%= @erreur.message %> - <%= @erreur.code %></h1>
        </div>
    </div>
</section>
<main>
    <div id="main" class="page">
        <p>
            Please <a href="/contact">contact</a> administrator !
        </p>
    </div>
</main>
