/**
*  PastaBin layout
*  This is a complete rewrite of the old layout that was an ugly hack.
*
*  Comparison with the older layout:
*  - This layout NO more dependends of Kube.css, all is defined in this file.
*  - This layout isn't an UGLY HACK mixing flexboxes, widths, max-widths, etc...
*  - A CLEAN code that should be easily understandable.
*  - This layout is flexbox-based, which means responsive parts is almost done.
*
*  Rules to respect:
*  - It should be responsive without the use of any media queries.
*  - Media queries should only be used for pixel perfect tuning.
*  - The layout should be clear.
*  - The user MUST understand the page with a single look.
**/

/**
*  Basic reset
*  TODO: Improve this to reset all the elements.
*  TODO: Define a basic style for all the elements.
**/
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #34495e;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/**
*  Default elements behavior.
**/
h1,
h2,
h3,
h4,
h5,
h6,
dt,
p,
br {
  padding: 0;
  margin: 0;
}

h2,
h3 {
  margin: 16px 0;
}

h2:first-child,
h3:first-child {
  margin: 0 0 16px 0;
}

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: justify;
  margin-bottom: 20px;
}

p:last-of-type {
  margin-bottom: 0;
}

hr {
  margin: 20px 0 !important;
  border: 1px solid #34495e;
}

a {
  color: #2ecc71;
  text-decoration: none;
}

a:hover {
  color: #27ae60;
}

input:hover,
button:hover,
a:hover {
  -webkit-transition-property: color, background-color, opacity;
  transition-property: color, background-color, opacity;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

figure {
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

figure > figcaption {
  text-align: center;
  font-style: italic;
  font-size: 12px;
}

.text-centered {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.right::after {
  content: "";
  display: block;
  clear: both;
}

/**
*  Basic grid system.
*  TODO: Improve it when needed.
**/
row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -webkit-flex-direction: row !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

column {
  padding-right: 20px;
}

/* Gap between cols */
column:last-child {
  padding-right: 0;
}

/* Last column doesn't need a gap */
column {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

column[cols="1"] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.33333333%;
  -ms-flex: 0 0 8.33333333%;
  flex: 0 0 8.33333333%;
}

column[cols="2"] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.66666667%;
  -ms-flex: 0 0 16.66666667%;
  flex: 0 0 16.66666667%;
}

column[cols="3"] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}

column[cols="4"] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333333%;
  -ms-flex: 0 0 33.33333333%;
  flex: 0 0 33.33333333%;
}

column[cols="5"] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.66666667%;
  -ms-flex: 0 0 41.66666667%;
  flex: 0 0 41.66666667%;
}

column[cols="6"] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

column[cols="7"] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.33333333%;
  -ms-flex: 0 0 58.33333333%;
  flex: 0 0 58.33333333%;
}

column[cols="8"] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.66666667%;
  -ms-flex: 0 0 66.66666667%;
  flex: 0 0 66.66666667%;
}

column[cols="9"] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
}

column[cols="10"] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.33333333%;
  -ms-flex: 0 0 83.33333333%;
  flex: 0 0 83.33333333%;
}

column[cols="11"] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.66666667%;
  -ms-flex: 0 0 91.66666667%;
  flex: 0 0 91.66666667%;
}

column[cols="12"] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

@media (max-width: 620px) {
  row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
}

/**
*  Global wrapper
*  This aims to unify the content.
**/
#wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}

form.encrypt {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}

/**
*  Header block.
**/
header {
  min-height: 60px;
  background-color: #2ecc71;
  border-bottom: 1px solid #27ae60;
}

#header {
  max-width: 80%;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#header > #logo,
#header > #menu {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#header > #logo {
  max-width: 210px;
  color: #27ae60;
  font-size: 48px;
  font-weight: 700;
  text-decoration: none;
}

#header > #logo:hover {
  color: #fff;
}

#header > #menu {
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  text-align: right;
}

#header > #menu > ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style-type: none;
}

#header > #menu > ul > li {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 5px;
}

#header > #menu > ul > li:first-child {
  padding-left: 0;
}

#header > #menu > ul > li:last-child {
  padding-right: 0;
}

#header > #menu > ul > li > a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 10px;
  background-color: #27ae60;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
}

#header > #menu > ul > li > a.active,
#header > #menu > ul > li > a:hover {
  background-color: #ffffff;
  color: #27ae60;
}

#header > #menu > ul > li > a.active {
  opacity: .8;
}

#header > #menu > ul > li > a.active:hover {
  opacity: 1;
}

/**
*  Section block.
**/
section {
  min-height: 40px;
  background-color: #2980b9;
}

#section {
  max-width: 80%;
  width: 80%;
  min-height: 40px;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #3498db;
}

/* Basic section title (for normal pages) */
#section > #title,
#section > #inputs,
#section > #buttons {
  min-height: 40px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#section > #title {
  max-width: 80%;
  margin: 0 10px 0 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

#section > #title > h1 {
  margin: 0;
  padding: 0;
}

/* For the main page layout */
#section > #inputs {
  max-width: 80%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

#section > #buttons {
  max-width: 20%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

#section > #inputs > input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: 40px;
  padding: 0 10px;
  margin: 0;
  margin-left: 2px;
  background-color: #3498db;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border-radius: 0;
  box-shadow: none;
}

#section > #inputs > input:first-child {
  border-right: 2px solid #2980b9;
}

#section > #inputs > input:last-child {
  margin-left: 0;
}

#section > #inputs > input:hover,
#section > #inputs > input:focus {
  background-color: #2980b9;
}

#section > #buttons > a,
#section > #buttons > button {
  min-height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0;
  padding: 0;
  background-color: #27ae60;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  outline: none;
}

#section > #buttons > a:hover,
#section > #buttons > button:hover {
  background-color: #2ecc71;
}

/**
*  Main block.
**/
main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

#main {
  max-width: 80%;
  width: 80%;
  margin: 0 auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border: 0;
  background-color: #2c3e50;
}

#main > #paste-content {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 0;
  background-color: #2c3e50;
  font-size: 14px;
  font-family: monospace;
  color: #fff;
  resize: none;
  outline: none;
}

#main.page {
  padding: 20px;
}

/**
*  Footer block.
**/
footer {
  min-height: 30px;
  background-color: #2980b9;
}

#footer {
  max-width: 80%;
  width: 80%;
  min-height: 30px;
  margin: 0 auto;
  padding: 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #3498db;
  font-size: 14px;
}

#footer > #copyright,
#footer > #links {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#footer > #links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  text-align: right;
}

#footer > #links > ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: flex-end;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  list-style-type: none;
}

#footer > #links > ul > li {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 5px;
}

#footer > #links > ul > li::after {
  content: "—";
  padding: 0 0 0 6px;
  color: #2980b9;
}

#footer > #links > ul > li:first-child {
  padding-left: 0;
}

#footer > #links > ul > li:last-child {
  padding-right: 0;
}

#footer > #links > ul > li:last-child::after {
  content: "";
}

#footer > #links > ul > li > a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #1f6a9c;
  font-weight: bold;
  text-decoration: none;
}

#footer > #links > ul > li > a:hover {
  color: #fff;
}

/**
*	Staff widget.
**/
#staff-wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

#staff {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#staff column {
  min-width: 300px;
  background-color: #2ecc71;
  margin-right: 10px;
  padding: 0;
}

#staff column:nth-last-child(1) {
  margin-right: 0;
}

#staff column > div {
  min-height: calc(100% - 30px);
}

#staff column img {
  width: 48px;
  height: 48px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 10px;
}

#staff column div.right {
  width: 230px;
  padding: 10px 10px 10px 0;
}

#staff column .name,
#staff column .name a {
  margin: 0;
  color: #ecf0f1;
}

#staff column .bio {
  margin: 0;
  text-align: left;
}

#staff column .tox {
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin: 0;
  display: inline-block;
  background-color: #27ae60;
  color: #fff;
  text-align: center;
}

#staff column .tox:hover {
  background-color: #16a085;
}

/* Staff widget responsive. */
@media (max-width: 360px) {
  #staff {
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  #staff column {
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }

  #staff column > div {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

/**
*  RESPONSIVE FOR MAX-WIDTH 620PX
**/
@media (max-width: 620px) {
  #header {
    max-width: 100%;
    width: 100%;
    -webkit-flex-flow: column-reverse nowrap;
    -ms-flex-flow: column-reverse nowrap;
    flex-flow: column-reverse nowrap;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }

  #header > #menu {
    max-width: 100%;
    width: 100%;
    min-height: auto;
    height: auto;
  }

  #header > #menu > ul {
    max-width: 100%;
    width: 100%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  #header > #menu > ul > li {
    padding: 0;
  }

  #header > #menu > ul > li > a {
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  #main {
    max-width: 100%;
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  #section {
    max-width: 100%;
    width: 100%;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }

  #section > #inputs {
    max-width: 100%;
    width: 100%;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }

  #section > #inputs > input {
    max-width: 100% !important;
    width: 100% !important;
    padding: 5px;
    border-right: none !important;
    border-bottom: 2px solid #2980b9;
    border: none;
  }

  #section > #buttons {
    max-width: 100%;
    width: 100%;
  }

  #section > #buttons > button {
    padding: 5px;
  }

  #footer {
    max-width: 100%;
    width: 100%;
    padding: 5px 0;
    -webkit-flex-flow: column-reverse nowrap;
    -ms-flex-flow: column-reverse nowrap;
    flex-flow: column-reverse nowrap;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }

  #footer > #links {
    margin-bottom: 5px;
  }
}
